.amarillo{
    background-color: yellow;
    height: 50vh;
}
.rojo {
    background-color: red;
    height: 50vh;
}
.azul{
    background-color: blue;
    height: 50vh;
}
.verde{
    background-color: green;
    height: 50vh;
}

.start{
    z-index: 100;
    position: absolute;
    left: 95vh;
    top:47vh;
    cursor: pointer;
}

.contador{
    z-index: 110;
    position:absolute;
}
